# copied to ~admin folder and used during the hv_deploy step

[pages]
vm-storagenode0.internal.cloudapp.net
vm-storagenode1.internal.cloudapp.net
vm-storagenode2.internal.cloudapp.net

[hblock]
vm-storagenode0.internal.cloudapp.net
vm-storagenode1.internal.cloudapp.net
vm-storagenode2.internal.cloudapp.net

[hpod1]
vm-storagenode0.internal.cloudapp.net
vm-storagenode1.internal.cloudapp.net
vm-storagenode2.internal.cloudapp.net

[hpod:children]
hpod1

[cvms]
vm-proxy.internal.cloudapp.net

[commvault]
vm-proxy.internal.cloudapp.net

[cluster:children]
pages
hblock
hpod

[all:children]
cluster
cvms

[all]
localhost ansible_connection=local

[all:vars]
cluster_name=hotelvictor
replication_policy=RackUnaware
replication_factor=3
admin_addr=admin@hedviginc.com
admin_username=admin
from_addr=donotreply@hedviginc.com
mail_addr=alerts@hedviginc.com
smtp_host=gateway.hedviginc.com
ntp_server=0.pool.ntp.org
email_interval=1h
use_ntp=False
timezone=US/Pacific
dns_available=True
initial_install=True
transfer_hosts=False
commvault_setup=True
lsitype=lsijbod
storage_interface=''
ssh_password=hedvig