all:
  vars:
    ansible_ssh_common_args: "-o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -J azureuser@{{ jump_server }}"
    ansible_user: azureuser
  children:
    jump:
      hosts:
        {{ jump_server }}
    proxy:
      hosts:
        vm-proxy.internal.cloudapp.net:
    deployment:
      vars:
        ansible_python_interpreter=/usr/bin/python3
      hosts:
        vm-deployment.internal.cloudapp.net:
    storagenodes:
      hosts:
        vm-storagenode[0:2].internal.cloudapp.net: